/* .container fluid{
    width:100%;
    height: 100vh;
    background: url(../assets/images/High_Speed_Railway_Train_2021_Traffic_5K_Photo_1366x768.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.booking-text{
    display: flex;
    padding: 15px!important;
    margin: unset!important;
}
.from-text{
    display: flex;
    padding: 0 0 8px 8px;
} */
/* table,tr,td{
    border: 1px ridge #dddddd;
    border-collapse: collapse;
    /* border-inline: unset; */

/* } * */

.confirm-wrapper {
    padding: 20px;
    background-color: #FFF;
}
.table-bg{
    /* background:linear-gradient(to right, #EF629F, #EECDA3); */
    background: #8989bb;
    background-image: linear-gradient(315deg, #8989bb 0%, #a5a4cb 74%);;
}


    .pushable {
        /* background: hsl(340deg 100% 32%); */
        background: #D2D5D8;
        border-radius: 12px;
        border: none;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
      }
.push{
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    /* background: #D2D5D8; */

    color: white;
    transform: translateY(-6px);
}
.pushable:active .push {
    transform: translateY(-2px);
  }